/*Developed from scratch by Pius Lucky*/
/*Basic calculation, 1rem = 16px*/
 /*NB: rem is a unit relative to the font-size specified in the root of the css*/
/*Note: anything defined under the root can be used elsewhere in the css sheet*/
/*css variables are so cool*/ 
/*IE does not support variables anyways use fallback instead by placing the 
 property  and value at the top of the property with the value variable */
 /*NB: Caution: After specifying a variable always use ; at the end (e.g color: var(--abc);)
     else the rest style properties won't render*/

/*Tip: you could use http://www.csscheckbox.com/css-input-generator.php to generate input fields 
and then customize it further by yourself*/
/*
/*Tip: you could use https://dabuttonfactory.com/ to generate buttons 
and then customize it further by yourself*/
/*

remember there is a difference b/w a pseudo class and a pseudo element
the former has one colon e.g a:hover
the latter has two colons e.g a::before*/

/*Tip :: The max-width you use in your landscape specifications is the width you 
get when you rotate the device in chrome dev tool using the rotate button*/

/*Tip :: Be very careful when using height (this could cause lots of problems in the longrun)*/
/*Tip :: Always use firefox to debug for any grid errors, works like charm!*/

/*Tip :: Always remember css reads from top to bottom, 
this will guide the way you write your media queries*/

/* Tip :: In case you intend to be more specific, always use max-device-width and max-device-height
 you can even go as far as using the orientation if need be*/
:root {
	font-size: 17px;
	font-family: 'Open Sans';
	/*defining a variable you start with --*/
	--main-text-background: #4b6cb7;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
	--main-text-background: -o-linear-gradient(left, #182848, #4b6cb7);
	--main-text-background: -webkit-gradient(linear, left top, right top, from(#182848), to(#4b6cb7));
	--main-text-background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	--primary-color:#0F2027;
}

html, body {
	margin-top: 0rem;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: white;
	background: url('../img/background.png') no-repeat center center fixed;
	background-size: cover;
	/*lets account for fire-fox and opera*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    
}

/*The generic scrollbar sucks, so lets customize it -- does not work in IE*/
body::-webkit-scrollbar {
  width: 0.4rem;
}

body::-webkit-scrollbar-track {
  background: #fff;

}

body::-webkit-scrollbar-thumb {
	background: #00B4DB;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*IE fallback for scrollbar customisations*/
body{
	scrollbar-track-color:#fff;
	scrollbar-face-color:#00b4db;
	scrollbar-arrow-color:#fff;
	-ms-overflow-style: -ms-autohiding-scrollbar;

}
.container{
	display: -ms-grid;
	display: grid;
	height: 1rem;
	-ms-grid-rows: (1fr)[3];
	grid-template-rows: repeat(3, 1fr);
	-ms-grid-columns:1fr 1fr;
	grid-template-columns:1fr 1fr;
	grid-template-areas: "navigation navigation"
	"content content"
	"footer footer";
}

.navigation{
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	grid-area: navigation;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns:(1fr)[3];
	grid-template-columns:repeat(3, 1fr);
	-ms-grid-rows:1fr;
	grid-template-rows:1fr;
	grid-template-areas: 
	"ul1 ul2 ul3";
	height: 10vh;
	line-height: 2rem;
	text-align: center;
	background: white;
	color: #0F2027;
	color: var(--primary-color);
	margin-left: 2rem;
	margin-right: 2rem;
	border-bottom-style:dashed;
	border-bottom-width: .087rem;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

ul:nth-of-type(1){
   -ms-grid-row: 1;
   -ms-grid-column: 1;
   grid-area: ul1;
}
ul:nth-of-type(2){
   -ms-grid-row: 1;
   -ms-grid-column: 2;
   grid-area: ul2;


}
ul:nth-of-type(3){
   -ms-grid-row: 1;
   -ms-grid-column: 3;
   grid-area: ul3;
}
#logo{
   max-height: 6.5vh;

}
.customlink{
	border-color: red;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	border-bottom-style: ridge;
	padding-bottom: .3rem;
	padding-left: .2rem;
	padding-right: .4rem;

}

.customlink:hover{
	border-color: #000;
	cursor: pointer;	
	border-top-style: ridge;
	border-bottom-style: none;
	padding-top: .3rem;
	padding-left: .2rem;
	padding-right: .4rem;
}
.customlink2{
	display: none;
}

.content{
	-ms-grid-row: 2;
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	grid-area: content;
	color:#fff;
	background: #00B4DB;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	padding: 2rem;
	word-wrap: break-word;
	margin-left: 2rem;
	margin-right: 2rem;
	text-align: center;
	display: grid;
	align-items: center;
	grid-template-rows:100%;
	grid-template-columns:15% 70% 15%;
	grid-template-areas: 
	"leftblank middle rightblank";

}


.leftblank{
	grid-area: leftblank;
	text-align: left;
	padding:0.2rem;
	padding-left: 2rem;
	word-wrap: break-word;
	}
.middle{
	grid-area: middle;
	padding:0.2rem;
	padding-left: 1rem;
	padding-right: 1rem;
	background: #00c6ff;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-size: cover;


}
.rightblank{
   grid-area: rightblank;
}


.input-btn { 
	font-size:23px; 
	text-align:center; 
	border-width:0.04px; 
	border-radius:0px;
	max-width: 100%; 
	text-shadow:2px -10px 10px rgba(42,42,42,.75);
	box-shadow: 0px 0px 5px 0px rgba(42,42,42,.75);
	padding:12px; 
	font-family:monospace; 
	font-style:none; 
	font-weight:bold; 
	width: 100%;
	font-size: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	width: 94%;
	padding-top: 1rem;
	padding-bottom: 1rem;
	/*border-radius: 3rem;*/
	border-width: 0.04rem;
	border-bottom-style: dashed; 
	border-top-style: dashed; 
	border-left-style: none; 
	border-right-style: none; 
	border-color:#2C5364;
	background: #1c92d2;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: red;
	} 
.input-btn:focus-within {
	/** Add desired outline, focus styles here */
	box-shadow: 0px 0px 10px 0px red;
	transition: box-shadow 350ms ease-out;
	width: 100%;
	/*background: black;*/
	color: red;
	
	} 

.input-btn:focus {
	outline:none; 
	} 
.convert-btn{
	background:    #3d85c6;
	background:    linear-gradient(#3d85c6, #073763);
	border-radius: 0px;
	border-width: 0px;
	cursor: pointer;
	border-top-right-radius: 1.3rem;
	box-shadow:    -2px 2px red;
	padding:       8px 20px;
	color:         #ffffff;
	display:       inline-block;
	font:          normal bold 24px/1 "Calibri", sans-serif;
	text-align:    center;
	text-shadow:   1px 1px #000000;
	max-width: 100%;
	margin-top: 0.8rem;
}

.convert-btn2{
	background: #F00000;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #DC281E, #F00000);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #DC281E, #F00000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border-radius: 0px;
	border-width: 0px;
	cursor: pointer;
	border-top-right-radius: 0rem;
	box-shadow:    -2px 2px #073763;
	padding:       8px 20px;
	color:         #ffffff;
	display:       inline-block;
	font:          normal bold 24px/1 "Calibri", sans-serif;
	text-align:    center;
	text-shadow:   1px 1px #000000;
	max-width: 100%;
	margin-top: 0.8rem;
}

.convert-process{
	background: #F00000;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #DC281E, #F00000);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #DC281E, #F00000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border-radius: 0px;
	border-width: 0px;
	cursor: pointer;
	border-top-right-radius: 0rem;
	box-shadow:    -2px 2px #073763;
	padding:       8px 20px;
	color:         #ffffff;
	display:       inline-block;
	font:          normal bold 24px/1 "Calibri", sans-serif;
	text-align:    center;
	text-shadow:   1px 1px #000000;
	max-width: 100%;
	margin-top: 0.8rem;
}


.convert-green{
	background: #FF416C;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border-radius: 0px;
	border-width: 0px;
	cursor: pointer;
	border-top-right-radius: 0rem;
	box-shadow:    -2px 2px #073763;
	padding:       8px 20px;
	color:         #ffffff;
	display:       inline-block;
	font:          normal bold 24px/1 "Calibri", sans-serif;
	text-align:    center;
	text-shadow:   1px 1px #000000;
	max-width: 100%;
	margin-top: 0.8rem;
}

.fa-heart{
	color: #F00000;  /* fallback for old browsers */
	color: -webkit-linear-gradient(to right, #DC281E, #F00000);  /* Chrome 10-25, Safari 5.1-6 */
	color: linear-gradient(to right, #DC281E, #F00000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.powered-by{
	font-size: 0.7rem;
	margin-left: 10%;
}

.copy_right{
	margin-left: 21%;
}

.process_img{
	width: 30%;
	margin-top: 4%;
	margin-left: 36%;

}

#scrollToTop,
#scrollToBottom
{
     cursor:pointer;
     background-color:#0090CB;
     display:inline-block;
     height:40px;
     width:2.5rem;
     color:#fff;
     font-size:16pt;
     text-align: center;
     text-decoration:none;
     line-height:40px;
     
}
.btn_bottom{
    position: fixed;
    bottom:0;
    right: 0;  
}
.btn_top{
    position: fixed;
    right: 0;

 }

@keyframes animate {
0% {fill: #fff;}
20% {fill: grey}
40% {fill:yellow};
50% {fill:yellow;} 
60%, 100% {fill: red}
}


@keyframes first {
0% {opacity: 1;}
20% {opacity: 0.5}
40%,80%{opacity:0.5};
}


@keyframes second {
0% {opacity: 0.5;}
20% {opacity: 1}
40%,80%{opacity:0.5};
}


@keyframes third {
0% {opacity: 0.5;}
20% {opacity: 0.5}
40%,80%{opacity:1};
}

#YellowBox {
  animation: first 1s linear infinite;
}

#LightGBox {
  animation: second 1s linear infinite;
}

#SharpGBox {
  animation: third 1s linear infinite;
}

@keyframes btn {
  0%   {transform: translateX(0)}
  25%  {transform: translateX(-2px)}
  75%  {transform: translateX(0px)}
  100% {transform: translateX(0)}
}

.sidebar .browserIcons {
    text-align: center;

}
.little-icons{
 width: 2rem;
}
.small-text{
	font-size:13px;
}
.link-text{
	font-size:13px;
	color: white;
}

.hidden_txt,
.reason,
.another,
.link_color,
.server_err,
.another > .another_link {
	color:#e4ff00;
	font-weight: bold;
	font-size: 16px;
}

.hidden_txt_done{
	color:green;
	font-weight: bold;
	font-size: 16px;
}
.footer{
	grid-area: footer;
	background: #fff;
	color: #0F2027;
	color: var(--primary-color);
	margin-left: 2rem;
	margin-right: 2rem;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom: 9rem;
	display: -ms-grid;
	display: grid;
	grid-gap: 1.2rem;
	grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
	border-bottom-style: dashed;
	border-top-style: dashed;
	border-width: .087rem;
}



.code_color{
color: #00A1CA;
font-weight: bold;
}

/*lets animate our svg*/
/*The beautiful thing about SVG is that it’s infinitely scalable 
irrespective of screen size and pixel density—a 
wonderful thing for responsive web design. Make the SVG responsive:*/
.svg {
  width: 100%;
  max-width: 100%;
  height: auto;

}
/*wow, we can fill the path of our svg like so*/
/*#circle_x5F_with_x5F_dash path{
  fill: #000;	
}*/

@keyframes red_x5F_arrow {
  0%   {transform: translateX(0)}
  25%  {transform: translateX(-10px)}
  75%  {transform: translateX(25px)}
  100% {transform: translateX(0)}
}
#red_x5F_arrow {
  animation: red_x5F_arrow 5s linear infinite;
}
@keyframes black_x5F_arrow {
  0%   {transform: translateX(0)}
  25%  {transform: translateX(0px)}
  75%  {transform: translateX(5px)}
  100% {transform: translateX(0)}
}

#black_x5F_arrow{
 animation: black_x5F_arrow 5s linear infinite;	
}

@keyframes circle_x5F_with_x5F_dash {
0% {fill: #000;}
20% {fill: #00A1CA}
40% {fill:red};
50% {fill:#000;} 
60%, 100% {fill: #00A1CA}
}

#circle_x5F_with_x5F_dash path{
  animation: circle_x5F_with_x5F_dash 2.5s ease infinite;
}

/*targetting landscape (rotated devices)*/
@media screen and (max-device-width:1366px) and (orientation:landscape){
	.navigation{
		height: 4.4rem;
	}
	#logo{
		height: 5vh;
	}
}

@media only screen and (max-device-width:1280px) and (orientation:landscape){
	#logo{
		height: 5vh;
	}
}


@media only screen and (max-device-width:1024px){

	.navigation{
		height: 4rem;
		margin-left: 1rem;
		margin-right: 1rem;
		text-align: center;
	}

	#logo{
	   max-height: 4vh;
	}

	.content{
		padding: 1rem;
		margin-left: 1rem;
		margin-right: 1rem;
		grid-template-columns:2.5% 95% 2.5%;
	}

	.footer{
		margin-left: 1rem;
		margin-right: 1rem;
		padding-bottom: 17rem;
	}
	#scrollToTop,
	#scrollToBottom
	{
	     cursor:pointer;
	     background-color:#0090CB;
	     display:inline-block;
	     height:40px;
	     width:1.5rem;
	     color:#fff;
	     font-size:10pt;
	     text-align: center;
	     text-decoration:none;
	     line-height:40px;
	     
	}

}


@media only screen and (max-device-width:1024px) and (max-device-height:1366px) {

	.navigation{
		height: 5rem;
		margin-left: 1rem;
		margin-right: 1rem;
		text-align: center;
	}

	#logo{
	   max-height: 4vh;
	}

}

@media screen and (max-device-width:999px){
	.process_img{
		width: 70%;
		margin-top: 4%;
		margin-left: 20%;

	}
}

/*targetting landscape (rotated devices)*/
@media screen and (max-device-width:960px) and (orientation:landscape){
	.navigation{
		height: 3rem;
		line-height: 1rem;
	}
	img#logo{
	   max-height: 4vh;
	   height:4rem;
	}
	
}


@media only screen and (max-device-width:854px) and (orientation:landscape){
	#logo{
		height: 7vh;
		max-height: 7vh;
	}
}



/*targetting landscape (rotated devices)*/
@media screen and (max-device-width:823px) and (orientation:landscape){
	.navigation{
		height: 3rem;
		margin-left: 1rem;
		margin-right: 1rem;
		line-height: 1rem;
		text-align: center;
	}
	img#logo{
	   max-height: 6vh;
	   height:9rem;

	}
	.content{
		padding: 1rem;
		margin-left: 1rem;
		margin-right: 1rem;
		grid-template-columns:2.5% 95% 2.5%;
	}
	.footer{
		margin-left: 1rem;
		margin-right: 1rem;
	}
}


@media only screen and (max-device-width:800px){
	#logo{
		height: 3vh;
	}
	#scrollToTop,
	#scrollToBottom
	{
	     cursor:pointer;
	     background-color:#0090CB;
	     display:inline-block;
	     height:40px;
	     width:1.5rem;
	     color:#fff;
	     font-size:10pt;
	     text-align: center;
	     text-decoration:none;
	     line-height:40px;
	     
	}
}


@media only screen and (max-device-width:736px){
	.navigation{
		height: 3.5rem;
	}
}

/*targetting landscape (rotated devices)*/
@media screen and (max-device-width:732px) and (orientation:landscape){
	.navigation{
		height: 3.5rem;
	}
	img#logo{
	   max-height: 6vh;
	   height:6rem;

	}
}


@media only screen and (max-device-width:720px){
	.navigation{
		height: 4.5rem;
		margin-left: 1rem;
		margin-right: 1rem;
		text-align: center;
	}

	#logo{
	   max-height: 3vh;
	}

	.content{
		padding: 1rem;
		margin-left: 1rem;
		margin-right: 1rem;
		grid-template-columns:2.5% 95% 2.5%;
	}

	.footer{
		margin-left: 1rem;
		margin-right: 1rem;
		padding-bottom: 10rem;
	}

	#scrollToTop,
	#scrollToBottom
	{
	     cursor:pointer;
	     background-color:#0090CB;
	     display:inline-block;
	     height:40px;
	     width:1.5rem;
	     color:#fff;
	     font-size:10pt;
	     text-align: center;
	     text-decoration:none;
	     line-height:40px;
	     
	}

	

}


/*targetting landscape (rotated devices)*/
@media screen and (max-device-width:640px) and (orientation:landscape){
	.navigation{
		height: 3rem;
		margin-left: 1rem;
		margin-right: 1rem;
		line-height: 1rem;
		text-align: center;
	}
	img#logo{
	   max-height: 7vh;
	   height:9rem;

	}
	.content{
		padding: 1rem;
		margin-left: 1rem;
		margin-right: 1rem;
		grid-template-columns:2.5% 95% 2.5%;
	}
	.footer{
		margin-left: 1rem;
		margin-right: 1rem;
	}
}

/*targetting landscape (rotated devices)*/
@media screen and (max-device-width:568px) and (orientation:landscape){
	.navigation{
		text-align: center;
	}
}



/*targetting landscape (rotated devices)*/
@media screen and (max-device-width:480px) and (orientation:landscape){
	.navigation{
		height: 3rem;
		line-height: 1rem;
		text-align: left;
	}
	img#logo{
	   max-height: 9vh;
	   height:9rem;


	}
}

/*targetting landscape (rotated devices)*/
@media screen and (max-device-width:480px){
	.navigation{
		height: 4rem;
		line-height: 1rem;
		text-align: center;
	}
	img#logo{
	   max-height: 4vh;

	}
}

/*targetting landscape (rotated devices)*/
@media screen and (max-device-width:412px){
	img#logo{
	   max-height: 5vh;
	   height:5rem;

	}
}


@media only screen and (max-device-width:384px){
	.navigation{
		height: 4rem;
		line-height: 1rem;
		text-align: left;
	}
	#logo{
		max-height: 8vh;
	}
}
@media only screen and (device-width:375px) and (orientation : portrait) {
	.navigation{
		height: 4rem;
		line-height: 1rem;
	}
	#logo{
		width: 100%;
	}
}

@media only screen and (max-device-width:360px){
	.container{
		width: 100%;
		height: 2rem;
	}

	.navigation{
		height: 4rem;
		margin-right: 1rem;
		text-align: left;
	}

	ul:nth-of-type(1){
		margin-left: -0.8rem;
	}

	#logo{
	   max-height: 5vh;
	}

	.content{
		padding: 1rem;
		margin-left: 1rem;
		margin-right: 1rem;
		grid-template-columns:2.5% 95% 2.5%;
	}

	.footer{
		margin-left: 1rem;
		margin-right: 1rem;
	}
	#scrollToTop,
	#scrollToBottom
	{
	     cursor:pointer;
	     background-color:#0090CB;
	     display:inline-block;
	     height:40px;
	     width:1.5rem;
	     color:#fff;
	     font-size:10pt;
	     text-align: center;
	     text-decoration:none;
	     line-height:40px;
	     
	}

}

@media only screen and (max-device-width:320px){
	.container{
		width: 100%;
	}

	.navigation{
		height: 3rem;
		margin-left: 1rem;
		margin-right: 1rem;
		text-align: center;
	}


}


/*To target IE11 only*/
/*Template areas do nt work in IE, so just remove it*/
@media all and (-ms-high-contrast:none){
	*::-ms-backdrop, .container{
	display: -ms-grid;
	display: block;
	margin-bottom: 14%;
	-ms-grid-rows: (1fr)[3];
	-ms-grid-columns:1fr 1fr;
}
*::-ms-backdrop, .navigation{
	line-height: 1.2rem;
	margin-left: 1rem;
	margin-right: 1rem;
	}
*::-ms-backdrop, .footer{
	display: block;
	margin-left: 1rem;
	margin-right: 1rem;
}
*::-ms-backdrop, .content{
	-ms-grid-row: 2;
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	grid-area: content;
	color:#fff;
	background: #00B4DB;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	padding: 2rem;
	word-wrap: break-word;
	margin-left: 1rem;
	margin-right: 1rem;
	text-align: center;
	display: -ms-grid;
	display: block;
	-ms-flex-align: center;
	align-items: center;
	-ms-grid-rows:100%;
	grid-template-rows:100%;
	-ms-grid-columns:5% 90% 5%;
	grid-template-columns:5% 90% 5%;
	padding-bottom:100px;
}

.powered-by{
	font-size: 0.7rem;
	margin-left: 5%;
}

.copy_right{
	margin-left: 5%;
}
}




